<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deng.seata.dynamic.ds.dao.mapper.AccountMapper">
  <resultMap id="BaseResultMap" type="com.deng.seata.dynamic.ds.dao.po.Account">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="balance" jdbcType="BIGINT" property="balance" />
    <result column="freeze_amount" jdbcType="BIGINT" property="freezeAmount" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, balance, freeze_amount, last_update_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from account
    where id = #{id,jdbcType=INTEGER}
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.deng.seata.dynamic.ds.dao.po.Account">
    update account
    <set>
      <if test="balance != null">
        balance = #{balance,jdbcType=BIGINT},
      </if>
      <if test="freezeAmount != null">
        freeze_amount = #{freezeAmount,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>