#vim
*.swp

#eclipse
.classpath
.project
.settings/

#intellij
.idea
.idea/
.idea/libraries/
*.iml
*.iws

#Mac
.DS_Store

#Maven
log/
logs/
*.class
target/
 
#package
*.jar
*.war
*.ear

*/target/*
target/*
target
target/
*/target

#media 