<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deng.hmily.tcc.bank2.dao.mapper.AccountMapper">
  <resultMap id="BaseResultMap" type="com.deng.hmily.tcc.bank2.dao.po.Account">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="balance" jdbcType="BIGINT" property="balance" />
    <result column="freeze_amount" jdbcType="BIGINT" property="freezeAmount" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, balance, freeze_amount, last_update_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from account
    where id = #{id,jdbcType=INTEGER}
  </select>

  <update id="addFreezeAmountAndCheckBalanceById" parameterType="map">
    update account
    set freeze_amount = freeze_amount + #{amount}
    where id = #{id} and (balance - freeze_amount) >= #{amount}
  </update>

  <update id="deductFreezeAmountById" parameterType="map">
    update account
    set  freeze_amount = freeze_amount - #{amount}
    where id = #{id}
  </update>

  <update id="deductBalanceAndFreezeAmountById" parameterType="map">
    update account
    set balance=balance - #{amount}, freeze_amount = freeze_amount- #{amount}
    where id = #{id}
  </update>

  <update id="increaseAccountAmountById" parameterType="map">
    update account
    set balance = balance + #{amount}
    where id = #{id}
  </update>

</mapper>