<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deng.hmily.tcc.bank1.dao.mapper.TccLocalTryLogMapper">
  <resultMap id="BaseResultMap" type="com.deng.hmily.tcc.bank1.dao.po.TccLocalTryLog">
    <id column="tx_no" jdbcType="VARCHAR" property="txNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    tx_no, create_time
  </sql>

  <insert id="insert" parameterType="com.deng.hmily.tcc.bank1.dao.po.TccLocalTryLog">
    insert into tcc_local_try_log (tx_no, create_time)
    values (#{txNo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tcc_local_try_log
    where tx_no = #{txNo,jdbcType=VARCHAR}
  </select>
</mapper>